body{
  background-color: #080336;
  margin: 0;
}

.Wrapper{
  display: grid;
  width: 100%;
  max-width: 1200px;
  color: white;
  margin: auto;
  grid-template-areas:
  'h h'
  's m';
  grid-gap: 10px;
  grid-template-columns: 2fr 10fr;
}

.Wrapper > div{
  background-color: rgb(70, 79, 121);
  border-radius: 10px;
}